*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    background: cornflowerblue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    background: skyblue;
    border-radius: 10px;
    padding: 40px 20px;
}

.form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form--title{
    font-size: 30px;
    color: #000;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #333;
}

.form--userInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    align-self: start;
    font-size: 14px;
    color: #000;
    letter-spacing: 2px;
}

.input{
    margin-bottom: 35px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 10px 0 5px 0;
    width: 250px;
}

.form--btn{
    padding: 8px 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #666;
    letter-spacing: 2px;
    color: #072227;
}

/* Message Window */

.container--msg{
    width: 100%;
    min-width: 320px;
    height: 100vh;
    min-height: 460px;
    overflow: hidden;
}

.header{
    width: 100%;
    min-height: 60px;
    background-color: cornflowerblue;
}

.nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #000;
}

.nav--logo{
    font-size: 18px;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 2px 2px 2px #444;
}

.nav--btn{
    outline: none;
    border: none;
    background-color: skyblue;
    padding: 6px 15px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px #333;
    transition: 0.2s;
    font-size: 14px;
}

.nav--btn:hover{
    box-shadow: 1px 1px 1px #333;
}

.main{
    width: 100%;
    min-width: 300px;
    min-height: 400px;
    background-color: skyblue;
}

.messenger{
    min-height: 400px;
    position: relative;
}

.messenger--main{
    display: flex;
}

.messenger--left{
    height: 75vh;
    min-height: 320px;
    width: 25%;
    min-width: 120px;
    background: cornflowerblue;
    font-size: 12px;
    border-right: 1px solid #000;
}

.bottom--usersBlock{
    width: 100%;
    height: auto;
}

.left--top,
.left--bottom{
    height: 100px;
    border: 5px solid cornflowerblue;
    padding: 5px;
}

.heading{
    background-color: #000;
    color: #fff;
    padding: 5px 8px;
    text-align: center;
    box-shadow: 1px 1px 3px #777;
    margin-bottom: 10px;
}

.top--roomName,
.bottom--users{
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    text-align: center;
    letter-spacing: 1.4px;
}

.bottom--users{
    text-align: left;
    margin: 5px 0;
}

.messenger--right{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    width: 75%;
    height: calc(75vh - 50px);
    min-width: 220px;
    overflow-y: auto;
}

.msgform{
    width: 100vw;
    height: calc(25vh - 50px);
    border-top: 1px solid #000;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}

.msgform--input{
    border: none;
    outline: none;
    width: 60%;
    min-width: 200px;
    height: 30px;
    padding-left: 5px;
}

.msgform--btn{
    width: 70px;
    height: 30px;
    padding: 6px 10px;
    text-align: center;
    margin-left: 10px;
}

.right--msg{
    position: relative;
    width: calc(100% - 20px);
    color: #000;
    background-color: #24C66B;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    line-height: 150%;
}

.msg--data{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #fff;
    text-shadow: 1px 1px 1px #888;
}

.msg--meta{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 0;
}

.msg--name,
.msg--date{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

.right--serverMsg{
    position: relative;
    width: calc(100% - 20px);
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: rgb(202, 29, 29);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 1.4px;
    color: #fff;
    text-shadow: 1px 1px 1px #222;
}

.serverMsg--meta{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.serverMsg--name,
.serverMsg--date{
    font-size: 12px;
    padding: 0 10px;
}