<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD Application</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script
      src="https://kit.fontawesome.com/a7e9f794eb.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
        <!-- Header Section -->
      <header class="header">CRUD application Dashboard</header>
        <!-- Header Section Ends-->


      <!-- Main Section -->
      <main class="main">
        <div class="create"><a href="#" class="btn--create">Create User</a></div>
        <div class="dashboard--table">
          <div class="table--header table--row">
            <span class="header--title column">ID</span>
            <span class="header--title column">Name</span>
            <span class="header--title column">Email</span>
            <span class="header--title column">Gender</span>
            <span class="header--title column">Status</span>
            <span class="header--title column">Actions</span>
          </div>
          <div class="table--data table--row">
            <span class="data--content content--id column">1001</span>
            <span class="data--content content--name column">UserName</span>
            <span class="data--content content--email column">example@email.com</span>
            <span class="data--content content--gender column">Male</span>
            <span class="data--content content--status column">Active</span>
            <span class="data--content content--action column">
              <span class="action action--edit">
                  <i class="fas fa-pencil-alt"></i>
              </span>
              <span class="action action--delete">
                  <i class="fas fa-times"></i>
                </span>
            </span>
          </div>
        </div>
      </main>
      <!-- Main Section Ends-->


      <!-- Footer Section -->
      <footer class="footer"></footer>
      <!-- Footer Section Ends-->
    </div>
  </body>
</html>
